<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User Registry Service</h1>
        <p>
            this application is in the development
            phase so you can present problems, if you want to preorder a
            complete demo you can download it <a href="https://www.youtube.com/watch?v=G1IbRujko-A">here</a></p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://angular.io/" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div>
