<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Address</th>
            <th>Cell Phone</th>
            <th>Document</th>
            <th>PLace Of Expedition</th>
            <th>Date Of Expedition</th>
        </tr>
    </thead>
    <tbody [(ngModel)]="users" name="accordion">
        <tr *ngFor="let usr of users">
            <td>{{usr.Name}}</td>
            <td>{{usr.LastName}}</td>
            <td>{{usr.email}}</td>
            <td>{{usr.City}}</td>
            <td>{{usr.Address}}</td>
            <td>{{usr.CellPhone}}</td>
            <td>{{usr.Document}}</td>
            <td>{{usr.PlaceExpedition}}</td>
            <td>{{usr.DateExpedition}}</td>
        </tr>
</table>




<!--<form #formUserList="ngForm">
    <accordion [(ngModel)]="users" name="accordion" ngDefaultControl>
        <accordion-group *ngFor="let usr of users" heading={{usr.username}}>
            <div class="btn-group">
                <label class="btn btn-primary" ngDefaultControl btnCheckbox tabindex="0">
                    {{usr.Name}}</label>
                <label class="btn btn-primary" ngDefaultControl btnCheckbox tabindex="0">{{usr.LastName}}</label>
                <label class="btn btn-primary" ngDefaultControl btnCheckbox tabindex="0">{{usr.email}}</label>
            </div>

        </accordion-group>

    </accordion>
</form>-->
